

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /TPEWEB2PARTE2COPIAX/

    # Si el archivo o carpeta existe, no reescribas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigí todo hacia Router.php con "action" como parámetro
    RewriteRule ^(.+)$ Router.php?action=$1 [QSA,L]
</IfModule>
